<!DOCTYPE html>
<html lang="en-us">
<head>
    {# Document Settings #}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {# Base Meta #}
    <title>{{ title }}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Styles & Scripts #}
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>
<body>
    {{ content | safe }}
</body>
</html>