---
title: Pokemon
layout: layouts/default.njk
---
<ul class="[ pokedex ] [ grid auto-fill-sm gap200 ]">
    {%- for pokemon in pokemon -%}
        <li>
            <a href="/pokemon/{{ pokemon.id }}">{{ pokemon.name | capitalize }}</a>
        </li>
    {%- endfor -%}
</ul>